@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 1vh;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 0.6%;
  border-bottom: solid 2px rgba(128, 128, 128, 0.39);
  width: 100%;
}

.linksHeader {
  display: flex;
  gap: 8%;
  margin-right: auto;
  padding-right: 11.55%;
}

#logoPrincipal {
  width: 8%;
  margin-right: auto;
}

.botoesLink {
  color: rgb(2, 111, 212);
  font-family: "Noto Sans", serif;
  font-size: 1.4rem;
  border: solid 2px white;

  padding: 1%;
}

.links {
  text-decoration: none;
}

.botoesLink:hover {
  border: solid 2px #303f9f;
  border-style: inset;
  background-color: #303f9f;
  border-radius: 7px;
  color: white;
}

.principalSection {
  display: flex;

  flex-direction: column;
  align-items: center;
  img {
    width: 90%;
  }
}

.footer {
  background-color: #303f9f;
  color: white;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.linksFooter {
  display: flex;
  width: 70%;
  margin-left: 2%;
}

#texto1 {
  white-space: nowrap;
  align-self: flex-start;
}

.botoesFooter {
  transform: scale(0.5);
}

.botoesFooter:hover {
  transform: scale(0.8);
}

#logoFooter {
  margin-left: auto;
  margin-right: 2%;
  align-self: center;
  width: 6%;
  min-width: 60px;
  min-height: 40px;
}

@media (max-width: 660px) {
  body {
    gap: 10vh;
  }
  #logoPrincipal {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 28px;
    min-width: 70px;
  }

  .botoesLink {
    flex-shrink: 30;
    /* background-color: red; */
  }
  .header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 3;
  }
  .linksHeader {
    gap: 3%;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 3;
  }

  .linksFooter {
    flex-shrink: 1;
    justify-content: space-evenly;
  }
  #logoFooter {
    min-height: 40px;
    min-width: 60px;
    align-self: center;
  }
}
